.container_inputs {
  display: flex;
  gap: .5rem;
}

.container_inputs .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container_inputs .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container_inputs .container svg {
  transition: all 0.3s;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 2px solid var(--color-blanco2);
  border-radius: 8px;
  color: var(--color-blanco4);
  &:hover{
    color: var(--color-gris2);
  }
}

.container_inputs .container input:checked~svg {
  border: 2px solid var(--color-rojo2);
  color: var(--color-rojo2);
}