.tooltip {
    position: relative;
    z-index: 99;

    & .tooltip-label {
        position: absolute;
        width: max-content;
        background-color: var(--color-blanco3);
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        color: var(--color-gris2);
        z-index: 99;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: 999;
        
        &.top{
            margin-bottom: 5px;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        &.top-left{
            margin-bottom: 5px;
            bottom: 100%;
            left: 0;
        }

        &.top-right{
            margin-bottom: 5px;
            bottom: 100%;
            right: 0;
        }

        &.bottom{
            margin-top: 5px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        &.bottom-left{
            margin-top: 5px;
            top: 100%;
            left: 0;
        }

        &.bottom-right{
            margin-top: 5px;
            top: 100%;
            right: 0;
        }

        &.left{
            margin-right: 5px;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
        }

        &.right{
            margin-left: 5px;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
        }
    }

    & .btn-tooltip:hover~.tooltip-label {
        opacity: 1;
    }
}