.card-proyect{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .3s ease-in-out;
    cursor: pointer;

    & .code-proyect{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
        opacity: 0;
        font-size: var(--fz-text-subtitulo2);
        color: var(--color-blanco1);
        transition: .3s ease;
    }
    &:hover .code-proyect{
        opacity: 1;
    }
    & .image_container{
        position: relative;
        aspect-ratio: 16/9;
        overflow: hidden;
        border-radius: 6px;

        & img{
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        & span{
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, .2);
            transition: .3s ease;
        }
    }
    &:hover .image_container span{
        background-color: rgba(0, 0, 0, .35);
    }
    &:hover .Dropdown-menu-container{
        opacity: 1;
    }
}

.card-proyect .main_content_cards{
    padding: 5px 0;
    height: 60px;

    & .title_card {
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .description_card {
        width: 100%;
        font-size: var(--fz-text-subtitulo2);
        color: var(--color-cuarto);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.code{
    padding: 8px 8px 8px 12px;
    font-size: 12px;
    font-weight: 600;
}
.options-menu{
    padding: 4px;
}
.separator{
    width: 100%;
    height: 1px;
    background-color: var(--color-blanco3);
}