.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
  &:hover svg{
    color: var(--color-gris2);
  }
}

.group .input {
  width: 100%;
  font-weight: 500;
  line-height: 26px;
  padding: 0 2em 0 .5rem;
  border: 2px solid var(--color-blanco2);
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: var(--color-gris2);
  transition: 0.3s ease;
  z-index: 1;
  user-select: none;
  &::placeholder{
    color: var(--color-blanco4);
  }
  &:focus{
    border-color: var(--color-gris2);
    background-color: #fff;
    &~svg{
      color: var(--color-gris2);
    }
  }
  
}

.group svg {
  position: absolute;
  top: -.5px;
  right: 0;
  background-color: transparent;
  color: var(--color-blanco4);
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 2;
  transition: all .3s ease;
  cursor: pointer;
}